.App {
  height: 100vh;
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.player-card {
  border: 3px solid black;
  height: 100px;
  /* flex:1 */
  width: 100px;
  border-radius: 10%;
  /* box-shadow: 10px 5px 5px red; */
  box-shadow: 10px 5px purple;
}